@import url('normalize.css');

* {
  box-sizing: border-box;
  font-family: Arial;
  font-size: 20px;
  color: #2F4F4F;
  transition-duration: 1s;
}

.person {
  padding: 12px;
  position: relative;
}

.person__sport,
.person__pay {
  color: aliceblue;
}

.person:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition-duration: 1s;
  background-color: lightgray;
  border-radius: 12px;
}

.person:hover .person__img {
  border-radius: 25%;
}

.person:hover .person__sport,
.person:hover .person__pay {
  color: #2F4F4F;
}

.title {
  grid-column-start: 1;
  grid-column-end: 5;
  justify-self: center;
}

.people {
  display: grid;
  grid-gap: 5px 30px;
  counter-reset: steps;
  justify-content: center;
  grid-template-columns: auto auto auto auto;
}

.person__photo:before {
  position: absolute;
  display: flex;
  width: 32px;
  height: 32px;
  top: 32.5%;
  right: 10%;
  z-index: 3;
  background-color: aliceblue;
  counter-increment: steps;
  content: counter(steps);
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  font-size: 16px;

  color: #8B0000;
}

.person__img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.person__details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 751px) {
  .people {
    grid-template-columns: auto auto;
  }

  .title {
    grid-column-end: 3;
  }
}
